# Python
__pycache__/
*.py[cod]
*.pyo
.Python

# Virtual environment
cleaningRobot/
cleaningRobot2/
venv/
env/
.env

# VSCode
.vscode/

# Checkpoints, model weights
*.pth
*.pt

# Logs
*.log
training_rewards.txt

# Jupyter Notebook
.ipynb_checkpoints/
